.carousel {
    margin-bottom: 4rem;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 70rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 70rem;
  }

body {background-color: #eceff4;
      color: #2e3440}